.label {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;

  .leading {
    @include color("black-12");

    display: flex;
    justify-content: center;
    align-items: center;
  }

  .trailing {
    @include paragraph-regular;
    @include color("black-6");

    display: flex;
    justify-content: center;
    align-items: center;
  }
}
