.label {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;

  .leading {
    display: flex;
    justify-content: center;
    align-items: center;
    @include color("black-12");
  }

  .trailing {
    display: flex;
    justify-content: center;
    align-items: center;
    @include paragraph-regular;
    @include color("black-6");
  }
}
