.button {
  @include box-shadow("float");
  @include paragraph-semi-bold;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  height: 32px;

  &[data-radius="circle"] {
    border-radius: 50%;
  }

  &[data-radius="rounded"] {
    border-radius: 8px;
  }

  &[data-fit="true"] {
    padding-right: 10px;
    padding-left: 10px;
    width: fit-content;
  }

  &[data-fit="false"] {
    padding-right: 20px;
    padding-left: 20px;
    min-width: 128px;
  }

  &[data-size="1"] {
  }

  &[data-size="2"] {
  }

  &[data-size="3"] {
  }

  &[data-size="4"] {
  }

  &[data-variant="primary"] {
    @include background-color("background-black");
    @include color("text-white-primary");
  }

  &[data-variant="secondary"] {
    @include background-color("background-white");
    @include border("stroke-button", 1px, solid, 8px);
  }

  &[data-variant="tertiary"] {
  }

  &[data-disabled="true"] {
    opacity: 0.4;
    pointer-events: none;

    &:hover {
      cursor: help;
    }
  }
}
