.search {
  @include paragraph-semi-bold;
  @include color("black-6");
  @include box-shadow("float");
  @include border($width: 1px, $style: solid, $key: "gray-6", $radius: 8px);

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  width: 384px;
  height: 32px;
  padding: 4px 0;

  .left {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-left: 12px;
  }

  .right {
    display: flex;
    height: 100%;
    margin-right: 4px;
    opacity: 0.9;

    > code {
      @include paragraph-regular;
      @include color("black-6");
      @include background-color("gray-2");
      @include border($width: 1px, $style: solid, $key: "gray-6", $radius: 4px);

      display: flex;
      padding: 0 6px;
      font-family: var(--font-geist-sans);
      font-size: 10px;
    }
  }
}
