.icon {
  @include box-shadow("float");
  @include paragraph-semi-bold;
  @include border("gray-6", 1px, solid, 8px);
  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
  border-radius: 8px;
  width: 32px;
  height: 32px;
  user-select: none;

  &[data-variant="primary"] {
    @include background-color("white-12");
    @include color("black-6");
  }

  &[data-background] {
    @each $name, $color in $colors {
      &[data-background="#{$name}"] {
        background-color: map-get($colors, $name);

        @if isLight($color) {
          color: map-get($colors, "black-12");
        } @else {
          color: map-get($colors, "white-12");
        }
      }
    }
  }

  &[data-disabled="true"] {
    opacity: 0.4;
  }

  &[data-radius="circle"] {
    border-radius: 50%;
  }

  &[data-radius="rounded"] {
    border-radius: 8px;
  }

  &[data-disabled="true"] {
    opacity: 0.4;
    pointer-events: none;

    &:hover {
      cursor: help;
    }
  }
}
