.evaluation {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  .content {
    display: flex;
    align-items: center;
    gap: 16px;
    width: 1024px;

    .left {
      display: flex;
      flex-shrink: 0;
      flex-direction: column;
      align-items: center;
      align-self: stretch;
      gap: 4px;
      width: 40px;

      .avatar {
        overflow: hidden;
        width: 40px;
        height: 40px;
        border-width: 1px;
        border-style: solid;
        border-color: get-color("gray-6");
        border-radius: 999px;
      }
    }

    .right {
      display: flex;
      flex: 1 0 0;
      flex-direction: column;
      align-items: flex-start;
      gap: 8px;

      .heading {
        display: flex;
        justify-content: space-between;
        align-items: center;
        align-self: stretch;

        .text {
          display: flex;
          align-items: center;
          align-self: stretch;
          gap: 8px;

          .sentence {
            display: flex;
            align-items: center;
            gap: 4px;

            :nth-child(1) {
              @include paragraph-semi-bold;
            }

            :nth-child(2) {
              @include color("black-6");
            }

            :nth-child(3) {
              display: flex;
              justify-content: center;
              align-items: center;
              height: 18px;
              padding: 0 8px;
              border-radius: 4px;

              > p {
                font-size: 12px !important;
                line-height: 12px !important;
              }
            }

            :nth-child(3)[data-evaluation-type="positive"] {
              @include background-color("green-4");

              > p {
                @include color("green-10");
                @include paragraph-semi-bold;
              }
            }

            :nth-child(3)[data-evaluation-type="negative"] {
              @include background-color("red-4");

              > p {
                @include color("red-10");
                @include paragraph-semi-bold;
              }
            }
          }

          :nth-child(2),
          :nth-child(3) {
            @include color("black-6");
          }
        }
      }
    }
  }
}
