.evaluation {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  .content {
    display: flex;
    width: 1024px;
    align-items: center;
    gap: 16px;

    .left {
      display: flex;
      width: 40px;
      flex-direction: column;
      align-items: center;
      gap: 4px;
      flex-shrink: 0;
      align-self: stretch;

      .avatar {
        width: 40px;
        height: 40px;
        border-radius: 999px;
        border: 1px solid var(--Stroke-Primary, #ebebeb);
        background: var(--Background-Blue, #0588f0);
      }

      .seperator {
        width: 2px;
        flex: 1 0 0;
        background: var(--Stroke-Primary, #ebebeb);
      }
    }

    .right {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 8px;
      flex: 1 0 0;

      .heading {
        display: flex;
        justify-content: space-between;
        align-items: center;
        align-self: stretch;

        .text {
          display: flex;
          align-items: center;
          gap: 8px;
          align-self: stretch;

          .sentence {
            display: flex;
            align-items: center;
            gap: 4px;
          }
        }
      }
    }
  }

  [data-evaluation-seperator="true"] {
    display: flex;
    height: 8px;
    width: 40px;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    flex-shrink: 0;
    align-self: stretch;

    .seperator {
      width: 2px;
      flex: 1 0 0;
      background: var(--Stroke-Primary, #ebebeb);
    }
  }

  [data-evaluation-seperator="false"] {
    display: none;
  }
}
