.body {
  @include paragraph-regular();
  padding-top: 24px;
  max-width: 1024px;
  margin: 0 auto;

  .main {
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 48px;

    .content {
      display: flex;
      flex-direction: column;
      align-items: center;
      align-self: stretch;
      gap: 72px;
      width: 100%;
    }
  }
}
