.body {
  @include paragraph-regular;

  max-width: 768px;
  margin: 0 auto;
  padding-top: 24px;

  .main {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 48px;

    .content {
      display: flex;
      flex-direction: column;
      align-items: center;
      align-self: stretch;
      gap: 72px;
      width: 100%;
    }
  }
}
