.island {
  @include background-color("gray-2");
  @include border($radius: 16px);

  display: flex;
  flex: 1 0 0;
  justify-content: center;
  align-items: center;
  gap: 16px;
  padding: 4px;

  .container {
    @include box-shadow("centered");
    @include background-color("white-12");
    @include border($key: "gray-6", $width: 1px, $style: solid, $radius: 12px);

    display: flex;
    flex: 1 0 0;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    padding: 16px;
  }
}
